dkms-fcpci-2.6.31-buildfix.patch
dkms-fcpci-2.6.33-buildfix.patch
dkms-fcpci-2.6.34-buildfix.patch
dkms-fcpci-update-irq-flags.patch
dkms-fcpci-update-irq_handler-definition.patch
dkms-fcpci-use-autoconf-header.patch
dkms-fcpci-use-pci_register_driver.patch
fcpci-suse93-3.11-07.tar.bz2
